@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body{
  /* border: 1px solid red; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 430px;
  margin-top: 20px;
}

.header {
  background-color: #1f2937;
  color: #fff;
}

.header__links {
  display: flex;
  gap: 30px;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
}

.logo > a {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.header__links a {
  font-size: 18px;
  color: #e5e7eb;
}

.header-wrapper {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  gap: 50px;
}

.left-content{
  width: 460px;
}

.left-content h1{
  font-size: 48px;
  font-weight: 700;
}

.left-content button {
  padding: 8px 30px;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  background-color: #3882f6;
  color: #fff;
  cursor: pointer;
}

.right-content{
  /* border: 1px solid red; */
  background-color: darkgray;
  width: 540px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  height: 500px;

}

.container > h2 {
  font-size: 36px;
  font-weight: 900;
}

.hero__section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}


.items {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.box {
  width: 170px;
  height: 170px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.quotes__section{
  min-height: 500px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 790px;
}

.text-container > p {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.text{
  font-weight: 300;
}

.author {
  text-align: right;
}

.sign-up__section {
  min-height: 300px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 150px;
  width: 1200px;
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  border-radius: 10px;
}

.wrapper p {
  color: #fff;
  font-size: 18px;
}

.left > .heading {
  font-weight: 700;
}

.sign-up__btn {
  border: 2px solid #fff;
  padding: 8px 40px;
  background-color: transparent;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  padding: 40px;
}

footer > p {
  color: #fff;
}
